<div class="col-md-4 mt-2 mb-2  d-flex align-items-stretch">
<div class="card">
    <div class="thumbnail">
        {{#if feature_image}}
        <a href="{{url}}">
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img
                class="card-img-top"
                loading="lazy"
                src="{{img_url feature_image size="m"}}"
                alt="{{title}}"
            />
        </a>
        {{/if}}
        <div class="card-body">
            <h3 class="card-title"><a class="post-card-content-link" href="{{url}}">{{title}}</a></h3>
            {{#if feature_image}}
                <p>{{excerpt words="30"}}</p>
            {{else}}
                <p>{{excerpt words="44"}}</p>
            {{/if}}
            {{#if tags}}
            <div class="btn-group">
                {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="btn btn-sm btn-primary">{{name}}</a>
                {{/foreach}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
</div>
